<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{$years := .}}
{{range $years}}
    {{.Fall.Term | uc | aw "semester"}} {{.AcaYear}}<br>

    {{range .Fall.Courses}}
        {{$course := .}}
        {{$course.Number}} - {{$course.Name}} - {{$course.Units}}<br>
    {{end}}

    {{.Spring.Term | uc | aw "semester"}} {{.AcaYear}}<br>
    {{range .Spring.Courses}}
        {{$course := .}}
        {{$course.Number}} - {{$course.Name}} - {{$course.Units}}<br>
    {{end}}
{{end}}

</body>
</html>